<h1><%= @pet.name %></h1>

<%= link_to "Edit this Pet", edit_pet_path(@pet.id) %>

<p>
  If you find <%= @pet.name %> please return it to:
  <%= @pet.address %>
</p>

<img src="<%= @pet.photo_url %>" alt="<%= @pet.name %>'s picture">

<p>
  <%# <% if @pet.found == true %>
  <% if @pet.found %>
    <%= @pet.name %> was found!
  <% else %>
    <%= @pet.name %> was not found yet!
  <% end %>
</p>
<p>
  <%= @pet.name %> is a
  <%= @pet.species %>
</p>
<p>
  Please contact us at:
  <%= @pet.contact %>

  if you have any information about it.
</p>

<%= link_to "Back", pets_path %>


